---
layout: default
title: Montana and Wyoming&apos;s most chosen alarm company since 1973
---
<aside class="call-to-action">
  <p class="center-on-mobiles">Worry free security starting at $399</p>
</aside>
<nav class="categories-nav">
    {% include categories-nav.html %}
</nav>
<section class="engagement">
  <div class="grid  no-gutters">
    <div class="unit  w-1-4">
      {% include consultation.html %}
    </div>
    <div class="unit  w-3-4">
      {% include categories-nav.html %}
    </div>
  </div>
</section>
