---
layout: default
title: Kenco Security and Technology &bull; Montana and Wyoming's most chosen alarm company since 1973
---
<section class="call-to-action">
  <div class="grid">
    <div class="unit  w-1-1  center-on-mobiles">
      <p>Worry free security starting at $399</p>
    </div>
  </div>
</section>
<nav class="categories-nav">
    {% include categories-nav-items.html %}
</nav>
<section class="engagement">
  <div class="grid  no-gutters">
    <div class="unit  w-1-4">
      {% include consultation.html %}
    </div>
    <div class="unit  w-3-4">
      {% include categories-nav-items.html %}
    </div>
  </div>
</section>

