---
layout: default
title: Montana and Wyoming&apos;s most chosen alarm company since 1973
---
<section class="call-to-action">
  <p class="center-on-mobiles">Worry free security starting at $399</p>
</section>
<nav class="categories-nav">
    {% include categories-nav-items.html %}
</nav>
<section class="engagement">
  <div class="grid  no-gutters">
    <div class="unit  w-3-4">
      <div id="residential" class="category">
        <h2>Residential</h2>
        <p>Our residential security systems provide peace of mind for you and your family.</p>
        <nav class="category-nav">
          <ul>
            <li>$399 Worry Free System</li>
            <li>Products</li>
            <li>Demo Videos</li>
          </ul>
        </nav>
      </div>
      <div id="commercial" class="category">
        <h2>Commercial</h2>
        <p>Our commercial security systems can be customized to your business.</p>
        <nav class="category-nav">
          <ul>
            <li>Alarm Systems</li>
            <li>Cameras</li>
            <li>Access Control</li>
          </ul>
        </nav>
      </div>
      <div id="24_7_monitoring" class="category">
        <h2>24/7 Monitoring</h2>
        <p>We are on call 24 hours a day, 7 days a week monitoring your home and business.</p>
        <nav class="category-nav">
          <ul>
            <li>Open &amp; Close Reporting</li>
            <li>Temperature &amp; Water Alerts</li>
            <li>Types of Monitoring</li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="unit  w-1-4">
      {% include consultation.html %}
      {% include maintenance.html %}
    </div>
    <div class="unit  w-3-4">
      {% include categories-nav-items.html %}
    </div>
  </div>
</section>

