<form name="consultation">
  <fieldset>
    <legend>Get a personal consultation</legend>
    <p>Enter your information below and we'll let you know what Kenco Security and Technology has to offer.</p>
    <input name="first-name" placeholder="First Name" autofocus>
    <input name="last-name" placeholder="Last Name">
    <input type="tel" name="phone" placeholder="Phone">
    <input type="email" name="email" placeholder="Email">
    <label><input type="checkbox" name="customer" value="I am a Kenco Customer."> I am a Kenco Customer</label>
  </fieldset>
  <input type="submit" value="Request A Consultation">
  <small>By submitting your information, you consent to let Kenco Security and Technology contact you at the email and phone number given above.</small>
  <small class="privacy-notice">Your information is never shared.</small>
</form>
