<footer>
  <div id="sitemap" class="grid">
    <div class="unit  w-1-5">
      <h1>Stay Connected</h1>
      <ul>
        <li>Facebook</li>
        <li>Pinterest</li>
        <li>Twitter</li>
        <li>Google+</li>
      </ul>
    </div>
    <ul>
      <li class="unit  w-1-5">
        <h1>Products</h1>
        <ul>
          <li>DMP</li>
          <li>First Alert</li>
          <li>Nuvico</li>
          <li>Beam Central Vacuum</li>
        </ul>
      </li>
      <li class="unit  w-1-5">
        <h1>About Kenco</h1>
        <ul>
          <li>Our History</li>
          <li>Our Philosophy</li>
          <li>Our Guarantee</li>
          <li>Careers</li>
          <li>Newsroom</li>
        </ul>
      </li>
      <li class="unit  w-2-5">
        <h1>Customer Care</h1>
        <span>800.877.7619</span>
        <ul>
          <li>Customer Support</li>
          <li>Manager My Kenco Account</li>
          <li>Pay My Kenco Bill</li>
          <li>Demo Videos</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="grid">
    <p class="unit  w-1-2">&copy;2013 Kenco Security and Technology. All rights reserved.</p>
    <p class="unit  w-1-2">BBB Accredited Business</p>
  </div>
</footer>
