<header class="grid">
  <h1 class="unit w-1-2 center-on-mobiles">
    <a href="{{ site.url }}/">
      <span>Kenco Security and Technology</span>
    </a>
  </h1>
  <div class="unit  w-1-2  align-right">
    <div class="grid">
      <nav class="unit w-1-1">
        <ul>
          <li>
            My Account
          </li>
          <li>
            Customer Support
          </li>
          <li>
            Contact Us
          </li>
        </ul>
      </nav>
      <aside class="unit  w-1-1">Request a <span>free quote</span>: 1-800-877-7619</aside>
    </div>
  </div>
</header>
