<header>
  <div class="grid">
    <div class="unit  w-1-2  center-on-mobiles">
      <h1>
        <a href="{{ site.url }}/">
          <span>Kenco Security and Technology</span>
        </a>
      </h1>
    </div>
    <div class="unit  w-1-2">
      <div class="grid">
        <nav class="unit w-1-1">
          <ul>
            <li>
              My Account
            </li>
            <li>
              Customer Support
            </li>
            <li>
              Contact Us
            </li>
          </ul>
        </nav>
        <p class="unit  w-1-1">Request a <span>free quote</span>: 1-800-877-7619</p>
      </div>
    </div>
  </div>
</header>
