<form name="maintenance">
  <fieldset>
    <legend>Need to update your account &amp; call lists?</legend>
    <p>It is quick and easy with our form below. Simply enter the information you wish to have changed and your account will reflect these changes within 8 hours.</p>
    <input name="first-name" inputmode="latin-name" placeholder="First Name" autofocus>
    <input name="last-name" inputmode="latin-name" placeholder="Last Name">
    <input type="tel" name="phone" placeholder="Phone">
    <input type="email" name="email" placeholder="Email">
    <input name="account-num" placeholder="Account Number">
    <input type="password" name="password" placeholder"Password (Encrypted for your security)">
  </fieldset>
  <fieldset>
    <legend>New Email or Password</legend>
    <input type="password" name="new-password" placeholder="Change Password">
    <input type="email" name="new-email" placeholder="Change Email">
  </fieldset>
  <fieldset>
    <legend>Add or Remove Users</legend>
    <table>
      <thead>
        <tr>
          <th>Delete?</th>
          <th>Name</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" name="user1-delete" value="Delete User:"></td>
          <td><input name="user1-name" inputmode="latin-name" placeholder="First &amp; Last Names"></td>
          <td><input name="user1-password" placeholder="New user password"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="user2-delete" value="Delete User:"></td>
          <td><input name="user2-name" inputmode="latin-name" placeholder="First &amp; Last Names"></td>
          <td><input name="user2-password" placeholder="New user password"></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <input type="submit" value="Submit Changes">
  <small>Please note, it may take up to 8 hours for changes to take effect on your account. For immediate assistance, please call 1-800-877-7619.</small>
  <small class="privacy-notice">Your information submitted is secure.</small>
</form>
